 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

   body {
    display:flex;
    
    text-align: center;
    
    background-image: url(./todolist.JPG);
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    padding: 5rem;
    margin-top: 5rem;
   
    /* height: 100vh; */
}

.title {

    margin-bottom: 50px;
    margin-top: 30px;
    color: rgb(27, 27, 27);
    font-family: sans-serif;
    font-size: large;
  

}

.input-area {
    width: 30rem;
    width: 100%;
    background: white;
    color: black;
    padding: 0 16px;
    padding-top: 3px;
    border-radius: 5px;
    height: 2.3rem;
 

  }
  .input {
    /* width: 80%; */
    width: 25rem;
  }
  .input-area button {
    border: none;
    outline: none;
    background: white;
  }
  .input-area button:hover {
    cursor: pointer;
  }
  .input-area input {
    outline: none;
    border: none;
    padding: 0.5rem;
    font-size: 0.85rem;
  }
    
      

   .array {
    margin-top: 1rem;
  
  }

  .box {
    width: 30rem;
    border-radius: 5px;
    background-color: white;
    color: black;
    margin: 1rem;
    min-width: 2.3rem;
    padding: 0.2rem 0.5rem;
    
    text-transform: capitalize;
    box-shadow: 0 0 1px 0.5px gainsboro;
    
  }
  .delete {
    float: right;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.1rem;
    border-radius: 5px;
    transition: all 0.3s;
  }
  .delete:hover {
      background-color: rgb(98, 0, 255);
      color: white;
  }
  .btn-left{
    float: left;
  }
  .line-t{
      text-decoration: line-through;
      color: green;
  }  
      